.subgroup {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;

    & ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
    }

    & > button {
        margin-left: 20px;
    }
}

.subgroup_header {
    margin-bottom: 10px;

    & > .titles {
        margin-bottom: 10px;
    }
}
